# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Vector Store
faiss_store/

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml
notebook/*.ipynb
